babel
certifi
charset-normalizer
click
colorama
ghp-import
gitdb
GitPython
idna
Jinja2
Markdown
MarkupSafe
mergedeep
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-material-extensions
packaging
paginate
pathspec
platformdirs
Pygments
pymdown-extensions
python-dateutil
PyYAML
pyyaml_env_tag
regex
requests
six
smmap
tzdata
urllib3
watchdog
