section.cover.show {
    display: flex;
    background: #000000 !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.cover h1 {
    color: #ffffff;
    font-weight: 300;
}

.cover-main-button a.button-orange {
    border-radius: 2rem;
    border: 1px solid #800080; /* Roxo */
    background-color: #800080; /* Roxo */
    color: #fff;
    display: inline-block;
    font-size: 1.05rem;
    letter-spacing: .1rem;
    margin: .5rem 1rem;
    padding: .75em 2rem;
    text-decoration: none;
    transition: all .15s ease;
}

.cover-main-button a.button-orange:hover {
    opacity: 0.8;
    color: #fff;
}

/* --- ESTILOS GERAIS PARA O TEMA --- */

:root {
    --cover-background-color: #000000;
    --cover-blockquote-color: #ffffff;
    --cover-color: #ffffff;
    color: #ffffff;
    background-color: #000000;
}

/* Garante que links e outros elementos interativos fiquem pretos */
.progress,
.search .search-keyword,
.search a:hover,
.app-nav a.active,
.app-nav a:hover,
.app-nav a.active,
.github-corner svg,
.sidebar-toggle span,
section.cover blockquote > p > a,
section.cover blockquote > p > a:hover,
.sidebar ul li.active > a,
.markdown-section a,
.token.string,
.token.attr-value,
.token.control,
.token.directive,
.token.unit {
    color: #000000 !important;
    border-color: #000000 !important;
    background-color: #000000 !important;
}

/* Correções específicas para o tema escuro */
.github-corner svg {
    fill: #000000 !important;
}
.app-nav a.active {
    border-bottom: 2px solid #000000 !important;
}
.sidebar ul li.active>a {
    color: #000000 !important;
}
.markdown-section blockquote {
    border-left: 4px solid #000000;
}
